<ion-header>
  <ion-toolbar>
    <ion-title>cadastrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <form [formGroup]="formCadastrar" (ngSubmit)="submitForm()" novalidate>
    
    <ion-item>
      <ion-input formControlName="nome" label="Nome" placeholder="Insira o nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input formControlName="telefone" type="number" label="Telefone" placeholder="Insira o telefone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input formControlName="email" label="Email" placeholder="Insira o email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-select formControlName="genero" label="Gênero" placeholder="Selecione"> 
        <ion-select-option value="0">Não declarado</ion-select-option>
        <ion-select-option value="1">Feminino</ion-select-option>
        <ion-select-option value="2">Masculino</ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-button type="submit" expand="block">Cadastrar</ion-button>
  </form>
  </ion-list>
  
</ion-content>
